<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestão de cupões</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @for (item of coupons; track $index) {
  <ion-card>
    <ion-card-content>
      <div>
        <strong></strong>
        <p><strong>Code:</strong> {{ item.code }}</p>
        <p><strong>Discount:</strong> {{ item.discountPercentage }}%</p>
        <p><strong>Expiration:</strong> {{ item.expirationDate }}</p>
      </div>
      <div class="btnOptions-Group">
        <ion-icon
          name="create-outline"
          routerLink="/edit-coupon/{{ item.id }}"
          size="large"
        ></ion-icon>
        <ion-icon
          name="trash-outline"
          (click)="deleteCoupon(item.id)"
          size="large"
        ></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
  }

  <ion-fab slot="fixed" vertical="center" horizontal="end">
    <ion-fab-button routerLink="/create-coupon">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
