<ion-menu contentId="main-content">
  <app-main-menu></app-main-menu>
</ion-menu>

<ion-content id="main-content" [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="flex flex-col">
    <div>
      <strong>Ready to create an dasdasd?</strong>
      <p>
        Start with Ionic
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://ionicframework.com/docs/components"
          >UI Components</a
        >
      </p>
    </div>
  </div>
</ion-content>
